body {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}

.timer {
    background-color: #008000;
    padding: 5px;
    margin: 5px 500px -20px 500px;
    text-align: center;
}

.timer span {
    font-size: 20px;
    padding: 5px;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 20px;
}

#player1 {
    background-color: #ff0000;
    text-align: center;
    padding: 100px;
}

#player2 {
    background-color: #0000ff;
    text-align: center;
    padding: 100px;
}

p {
    font-size: 30px;
    color: #fff;
    outline: none;
    text-transform: capitalize;
}

h1 {
    font-size: 100px;
    color: #fff;
}

.reset-all {
    background-color: #008000;
    padding: 5px;
    margin: -20px 500px 0 500px;
    text-align: center;
}

.reset-all span {
    font-size: 20px;
    padding: 5px;
    color: #fff;
}